body {
  background-color: black;
  cursor: none;
}

.canvas {
  margin: 0 auto;
  width: 900;
  height: 610;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 50%;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,12deg); }
  25%{ transform:rotate3d(-1,1,0,12deg); }
  50%{ transform:rotate3d(-1,-1,0,12deg); }
  75%{ transform:rotate3d(1,-1,0,12deg); }
}

h1 {
  display:block;
  font-family: Orbitron;
  font-size: 48px;
  width:100%;
  padding:0px;
  text-transform:uppercase;
  position:absolute;
  left: 37%;
  color:#eee;

  animation:wobble 40s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}
